<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aroha Analatical Plateform Application Automation Test Suite">

	<listeners>
		<listener class-name="com.aap.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Aroha Analatical Plateform App Test Cases">
		<classes>
		    <class name="com.aap.qa.testcase.WelcomePageTest"></class>
			<class name="com.aap.qa.testcase.LoginPageTest"></class>
			<class name="com.aap.qa.testcase.HomePageTest"></class>

		</classes>
	</test>
</suite>